@model MVCProjectMashud.Models.ViewModel.PatientListViewModel
@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Patient Details</h4>
<div>

    <dl>
        <dt>@Html.DisplayNameFor(model => model.PatientName)</dt>
        <dd>@Html.DisplayFor(model => model.PatientName)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.AdmissionDate)</dt>
        <dd>@Html.DisplayFor(model => model.AdmissionDate)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Bed)</dt>
        <dd>@Html.DisplayFor(model => model.Bed)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Cabin)</dt>
        <dd>@Html.DisplayFor(model => model.Cabin)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.ImageName)</dt>
        <dd>@Html.DisplayFor(model => model.ImageName)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.ImageUrl)</dt>
        <dd><img src="@Url.Content(Model.ImageUrl)" width="50" height="50" /></dd>
    </dl>

    @Html.ActionLink("Back to Patient List", "Index")
</div>


